
body{
background-image:url("https://wallpapercave.com/wp/DtslnrT.jpg"); 
background-size:cover;
background-repeat: no-repeat; 
font-size: 20px;
color:#b3b3;
}
h1{
color:#b;
font-size:65px;
text-align:center;
text-decoration:underline;
}
h2{
color:#0000FF;
font-size: 50px;
text-align: center;
}
h3{
color:#8A2BE2;
font-size: 22px;
text-align: right;
}
h4{
color:lawngreen ;
font-size:30px;
text-align: right;
}
ul{
list-style-type: none;
margin: 0;
padding:0; 
overflow:hidden;
background-color:orange;
text-align:center;
border:solid black;
padding:7px;

}
li{

 float: left;
}
li a{
text-align: center;
 display: block;
 text-decoration: none;
 color: black;
 font-size: 25px;
 text-align: center;
 padding: 14px 16px;
}
li a:hover:not(.active){
 background-color: turquoise;
}
.active{
 background-color:gray;
}
#logcast{
text-align: center;
width: 200px;
height: 150px;
background-color: black;
border: solid black;
align-items: center;
}
#logbox{
text-align:center; 
padding-top: 40px;
padding-bottom: 20px;
border:solid;
border-color:#000;
background-color:#BEBEBE  ;
align-items: center;
}
#table{
color:white;
font-size: 22px;
text-align: center;
}
